*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1A2A33;
    --blackgrey: #1F3641;
    --blue: #31C3BD;
    --bluelight: #65E9E4;
    --orange: #F2B137;
    --orangelight: #FFC860;
    --greyblue: #A8BFC9;
    --white: #DBE8ED;
    --radius: 15px;
    --radiusxs: 10px;
    --shadow: inset 0px -8px 0px #10212A;
}

body{
    height: 100vh;
    background: #1A2A33;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    width: 456px;
    height: 52px;
    margin-bottom: 20px;
    display :flex;
    justify-content: space-between;
    align-items: center;
}

.after-make-choice{
    position :absolute;
    height: 100%;
    width: 100%;
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

/* New Game Menu */
div.pick-mark{
    height: 471px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: visible; /* A modifier en visible */
}

.element{
    transform: scale(-0,-0);
    transition: 0.3s;
}

div.mark{
    height: 32px;
    width: 71.97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.player-pick{
    height: 205px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--radius);
    background: var(--blackgrey);
    box-shadow: var(--shadow);
}

div.player-pick p:first-child{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #A8BFC9;
}

div.player-pick p:last-child{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    mix-blend-mode: normal;
    opacity: 0.5;
}

div.choose-mark{
    height: 72px;
    width: 412px;
    background: var(--black);
    border-radius: var(--radiusxs);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bar{
    height: 54px;
    width: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.bar-grey{
    background: var(--greyblue);
    height: 54px;
    width: 195px;
    position: absolute;
    left: 0;
    transition: 0.7s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
    border-radius: var(--radiusxs);
}

div.option{
    height: 54px;
    width: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--radiusxs);
}

div.option:hover{
    background: rgba(168, 191, 201, 0.05);
}

div.option img{
    height: 32px;
    z-index: 1;
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
}

button{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--black);
    cursor: pointer;
}

button.vs-cpu{
    height: 67px;
    width: 460px;
    margin-top: 40px;
    background: var(--orange);
    box-shadow: inset 0px -8px 0px #CC8B13;
    border-radius: var(--radius);
}

button.vs-cpu:hover{
    background: var(--orangelight);
}

button.vs-player{
    height: 67px;
    width: 460px;
    background: var(--blue);
    box-shadow: inset 0px -8px 0px #118C87;
    border-radius: var(--radius);
}

button.vs-player:hover{
    background: var(--bluelight);
}

/*GameBoard*/
.sign-turn{
    position: relative;
    background-color: #1F3641;
    width: 140px;
    height: 52px;
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px #10212A;
    display: flex;
    justify-content: center;
    gap: 13px;
    align-items: center;
    cursor: default;
}

.sign-turn p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #A8BFC9;
    margin-left: 12px;
}

.sign.x::before,
.sign.x::after{
    content:'';
    position: absolute;
    top: 12px;
    right: 100px;
    background: #A8A8A8;
    height: 24.63px;
    width: 6.55px;
    border-radius: 3px;
}

.sign.x::before{
    transform: rotate(45deg);
}

.sign.x::after{
    transform: rotate(135deg);
}

.sign.o::after,
.sign.o::before{
    content: '';
    position :absolute;
    top: 29%;
    left: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sign.o::before{
    height: 20px;
    width: 20px;
    background: #A8A8A8;
}

.sign.o::after{
    height: 8px;
    width: 8px;
    transform: translate(75%, 76%);
    background: #1F3641;
}

.reset{
    background-color: lightgray;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: #DBE8ED;
    box-shadow: inset 0px -4px 0px #6B8997;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.reset:active{
    background: rgba(211, 211, 211, 0.513);
}

.reset img{
    outline: none;
}

.board-game{
    height: 460px;
    width: 460px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.cell{
    width: 100%;
    height: 100%;
    background: #1F3641;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
    cursor: pointer;
}

.cell.x{
    background: url(assets/icon-x.svg) no-repeat center #1F3641;
}

.cell.o{
    background: url(assets/icon-o.svg) no-repeat center #1F3641;
}

.board-game.x .cell:not(.x):not(.o):hover{
    background: url(assets/icon-x-outline.svg) no-repeat center #1F3641;
}

.board-game.o .cell:not(.x):not(.o):hover{
    background: url(assets/icon-o-outline.svg) no-repeat center #1F3641;
}

footer {
    width: 460px;
    height: 72px;
    margin-top: 19px;
    display :flex;
    justify-content: space-between;
    align-items: center;
}

.score{
    width: 140px;
    height: 72px;
    border-radius: 15px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.875px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score:first-child{
    background: #31C3BD;
}

.score:nth-child(2){
    background: #A8BFC9;
}

.score:last-child{
    background: #F2B137;
}

.score span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #1A2A33;
}

.cell.x.win{
    background: url(assets/icon-x1\ -\ Copie.svg) no-repeat center #31C3BD;
    box-shadow: inset 0px -4px 0px #1d7270;
}

.cell.o.win{
    background: url(assets/icon-o1\ -\ Copie.svg) no-repeat center #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
}

.winning-screen{
    position: absolute;
    top: 0;
    height: 266px;
    background: #1F3641;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    visibility: hidden;
}

.move-screen{
    transform: translateY(100%);
    /* transition: 1s; */
}

.winning-screen p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #A8BFC9;
}

.foo{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.winX{
    color: #31C3BD;
}

.imgX{
    width: 64px;
    height: 64px;
    background: url(assets/icon-x.svg) no-repeat;
    margin-right: 24px;
}

.winO{
    color: #F2B137;
}

.imgO{
    width: 64px;
    height: 64px;
    background: url(assets/icon-o.svg) no-repeat;
    margin-right: 24px;
}

.tie{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #A8BFC9;
}

.winning-screen div button{
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1A2A33;
    cursor: pointer;
}

.winning-screen div button:first-child{
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    width: 76px;
    height: 52px;
    margin-right: 8px;
}

.winning-screen div button:last-child{
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    width: 146px;
    height: 52px;
}

.screen{
    position :absolute;
    z-index: 500;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    visibility: hidden;
}